@use "sass:math";

// REM font size with px fallback.
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Media query helper
@mixin respond-bigger($size) {
    @media only screen and (min-width: $size) { @content; }
}

// Media query helper
@mixin respond-smaller($size) {
    @media only screen and (max-width: $size) { @content; }
}
