$color__primary: MediumVioletRed; // AA against white.
$color__secondary: Teal; // AA against white.

$color__alert: DarkRed; // AAA against white.

$color__neutral: #666; // AA against white.
$color__neutral-light: #ccc; // AA against $color__text-main;
$color__neutral-dark: #404040; // AAA against white.

$color__link: #4169e1; // AA against white.
$color__link-visited: #800080; // AAA against white.
$color__link-hover: #191970; // AAA against white.

$color__link-light: #fff;
$color__link-light-visited: #fff;
$color__link-light-hover: #fff;

$color__text-main: $color__neutral-dark;
