$size__site-main: 100%;
$size__site-sidebar: 25%;

$mobile__max-width: 400px;
$desktop__max-width: 2000px;

$breakpoint__medium: 768px;
$breakpoint__large: 1280px;
$breakpoint__nav: 1000px;

$margin__xxs: 0.5rem;
$margin__xs: 1rem;
$margin__sm: 2rem;
$margin__md: 3rem;
$margin: 5rem;
$margin__lg: 8rem;
$margin__xl: 10rem;

$border__radius: 3px;

$transition__time: 0.25s;

